<label> Movie Title: </label>
<%= @movie.title %>
<br/>
<label> Movie release year: </label>
<%= @movie.year %>

<%= form_with model: @movie, method: :delete do |f|  %>
<%= f.submit "Delete Movie" %>
<% end %>

<%= form_with url:"/movies/#{@movie.id}" , method: :delete do |f|  %>
<%= f.submit "Delete Movie" %>
<% end %>